<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>CRUD Artículos con JSP y Servlet </display-name>
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://andreaml.ddns.net:3306/mesa-ayuda</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value>asd123</param-value>
    </context-param>
    <servlet>
        <servlet-name>AtnUsuarios-UsuarioServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtnUsuarios-VehiculoServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.VehiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtnUsuarios-ServicioServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.ServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtnUsuarios-DependenciaServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.DependenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtnUsuarios-EspecialistaServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.EspecialistaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtnUsuarios-AtnUsuariosServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.AtnUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtnUsuarios-BD_ConocimientoServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.BD_ConocimientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtnUsuarios-TipoServicioServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.TipoServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtnUsuarios-TicketServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.TicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.ReporteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtnUsuarios-AreaServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.AreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publico-BD_Conocimiento</servlet-name>
        <jsp-file>/publico/base-datos-conocimientos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Publico-EvaluacionServicio</servlet-name>
        <jsp-file>/publico/evaluacion-servicio.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtnUsuarios-UsuarioServlet</servlet-name>
        <url-pattern>/atencion-usuarios/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtnUsuarios-VehiculoServlet</servlet-name>
        <url-pattern>/atencion-usuarios/vehiculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtnUsuarios-ServicioServlet</servlet-name>
        <url-pattern>/atencion-usuarios/servicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtnUsuarios-DependenciaServlet</servlet-name>
        <url-pattern>/atencion-usuarios/dependencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtnUsuarios-EspecialistaServlet</servlet-name>
        <url-pattern>/atencion-usuarios/especialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtnUsuarios-AtnUsuariosServlet</servlet-name>
        <url-pattern>/atencion-usuarios/atencion-usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtnUsuarios-BD_ConocimientoServlet</servlet-name>
        <url-pattern>/atencion-usuarios/base-datos-conocimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtnUsuarios-TipoServicioServlet</servlet-name>
        <url-pattern>/atencion-usuarios/tipo-servicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtnUsuarios-TicketServlet</servlet-name>
        <url-pattern>/atencion-usuarios/tickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteServlet</servlet-name>
        <url-pattern>/reportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtnUsuarios-AreaServlet</servlet-name>
        <url-pattern>/atencion-usuarios/areas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publico-BD_Conocimiento</servlet-name>
        <url-pattern>/base-datos-conocimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publico-EvaluacionServicio</servlet-name>
        <url-pattern>/evaluacion-servicio</url-pattern>
    </servlet-mapping>
</web-app>
